{% extends 'base.html.twig'%}

{% block title "Se connecter" %}

{% block body %}
	
	<div class="container mt-4">

		<div class="card container col-6 card-style">

		<div class="card-title homeBanniere mt-5">
		
		</div>
			<div class="card-body ">

				<form action="{{ path ('login')}}" method="POST">
					<div class="container text-center">
						<div class="form-group message-success" >
							<label for="username">Nom d'utilisateur</label>
							<input type="text" id="username" name="_username" class="form-control message-success" value="{{ last_username }}">
						</div>
						<div class="form-group message-success">
							<label for="password">Mot de passe</label>
							<input type="password" id="password" name="_password" class="form-control message-success">
						</div>
					</div>		
					<div class="text-center">
						<button type="submit" class="btn btn-success mt-2 mb-3 message-success">Se connecter</button>
								{% if error %}
									<div class="alert alert-danger container">
										{{ error.messageKey | trans(error.messagedata, 'security') }}
									</div>
								{% endif %}
					</div>
				</form>
			</div>	
		</div>	
	</div>
{% endblock %}
