<div class="card mb-4">
	<div class="card card-body">
		<h5 class="card-title">
			 
				{{ activite.Titre }} ({{ activite.Datedebut|date('d/m/Y') }})
		</h5>
        <p class="card-text"><h4> {{ activite.Description }}</h4> </p>
        
	</div>
</div>