{% extends 'base.html.twig'%}

{% block title "communeDeMaizery" %}

{% block body %}
<br>
 <div class="homeBanniere flex-column container col-lg-11">
   
   </div>
	
		<br>
		{% include 'navbar.html.twig' %}
<br>


{% endblock %}