{% extends 'base.html.twig'%}

{% block title "communeDeMaizery" %}

{% block body %}
<br>
 <div class="homeBanniere flex-column container col-lg-11">
   
   </div>
	
		<br>
		{% include 'navbar.html.twig' %}
<br>
	<div class="container col-lg-11">
				<div class="row flex ">
					
					<div class="col-3">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">
								<p>Actualité</p>
								</h5>
								<p class="card-text"></p>
								<div class="text-primary text-right" style="font-weight:Bold;font-size: 1.5rem;"><a href="{{ path ('actualite') }}"> Lire l'article</a> </div>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">
								<p>Evènement</p>
								</h5>
								<p class="card-text"></p>
								<div class="text-primary text-right" style="font-weight:Bold;font-size: 1.5rem;"><a href="{{ path ('evenement') }}"> Lire l'article</a> </div>	
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">
								<p>Ecole</p>
								</h5>
								<p class="card-text"></p>
								<div class="text-primary text-right" style="font-weight:Bold;font-size: 1.5rem;"><a href="{{ path ('ecole') }}"> Lire l'article</a> </div>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">
								<a></a>
								</h5>
								<p class="card-text"></p>
								
							</div>
						</div>
					</div>
	</div>

				</div>

{% endblock %}

