.homeBanniere{

    background-image:url(../images/colligny-maizery.png) ;
    background-size: cover;
    background-position: center 40%;
    height: 300px;
    width: 100%;
    border-radius: 20px;
    
}

.navCom{

    background-color: rgb(155, 153, 153);
    border-radius: 15px;
}

.navComElem{

    background-color: rgb(80, 78, 78);
    border-radius: 10px;
    text-align: center;
    
}

.navFont a{
    color: white;
    font-size: 25px;

}

.active a{
    color: rgb(137, 125, 246);
    font-size: 28px;
}

.meteo-title{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
}

.card-meteo{
    border-radius: 10px;
    background-image:url(../images/background_meteo.jpg);
    background-size: cover;
    
}

.thermo{
    margin: 4px;
    background-image:url(../images/thermo.png);
    background-size: cover;
    height: 30px;
    width: 30px;
}

.meteo-fleche{

    font-size:25px;
}

.card-actu{

    border-radius: 10px;
    background-image:url(../images/newsBack.jpg);
    background-size: cover;
    width: 100%;

}

.card-ecole{

    border-radius: 10px;
    background-image:url(../images/ecoleBack.jpg) ;
    background-size: cover;
    width: 100%;
}

.card-fete{

    border-radius: 10px;
    background-image:url(../images/feteBack.jpg) ;
    background-size: cover;
    width: 100%;
}

.meteo-option{

    font-weight: bold;
}



#map { 
    position:absolute; 
    width: 100%;
    height: 100%; 
}

.option{

    font-weight: bold;    
}

.message-success{

    font-weight: bold;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
}

.btnAdmin{

    background-color: rgb(80, 78, 78);
    color: beige;
    font-size: 25px;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    border: none;
    outline:none;
    
}

.btnAdmin:hover{
    color:#000000;
    
}

.btnValide{

    background-color: rgb(49, 136, 34);
    color: beige;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    outline:none;
    
}

.btnValide:hover{
    color:#000000;
    
}

.btnEdit{

    background-color: rgb(34, 95, 136);
    color: beige;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    outline:none;
    
}

.btnEdit:hover{
    color:#000000;
    
}

.btnSupprimer{

    background-color: #af3030;
    color: beige;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    outline:none;
    
}

.btnSupprimer:hover{
    color:#000000;
    
}

.background-site{

    background-color: rgb(202, 202, 202);
}

.card-style{
    background-color: rgb(211, 206, 206);
    border-radius: 10px;

}

.activite-option{

    font-weight: bold;
    font-size: 20px;    
}

.activite-titre{

    font-weight: bold;
    font-size: 25px;
    color: rgb(0, 0, 0);    
}

.card-insert{

    border-radius: 10px;
    opacity: 80%;
    background-color: rgb(170, 176, 182);
}