

{% apply inline_css %}
    <style>
        {# here, define your CSS styles as usual #}
        .titre {
            font-size: 50px;
        }

        .message {
            font-size: 30px;
        }

        body {
            color: black;
            font-weight: bold;
            background-color: rgb(189, 187, 187);
            text-align: center;
        }

    
}
    </style>

<body>
   <p class="titre ">Mail reçu de : {{ contact.Nom }}</p>
   <br>
   <p class="message">{{ contact.Message }}</p>
   <br>
   <p class="message">{{ contact.Email }}</p>
  
</body>
   
    
{% endapply %}



