{% extends 'base.html.twig'%}

{% block body %}

<div class="container mt-4">

<h1>Modifier des informations</h1>

{{ include ("admin/_telephone.html.twig",{form: form,button: 'Modifié'}) }}

{{ include ("admin/_horaire.html.twig",{form: form,button: 'Modifié'}) }}
</div>

{% endblock %}